<div class = "container">
  <div class = "row">
    <div class = "col">
      <h1>本当に退会しますか？</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <p>退会すると、会員登録情報や</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <p>これまでの購入履歴が閲覧できなくなります。</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <p>退会する場合は「退会する」をクリックして下さい。</p>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <p><%= link_to "退会する", customers_withdrawal_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class:"btn btn-danger" %></p>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= link_to "退会しない",customer_path(current_customer),class:"btn btn-success" %>
    </div>
  </div>
</div>